:root {
  --bg-gradient-start: #f0f4f8;
  --bg-gradient-end: #d9e2ec;
  --card-bg: #fff;
  --primary-accent: #4CAF50;
  --text-color-light: #333;
  --text-color-dark: #f5f5f5;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow: rgba(0, 0, 0, 0.2);
}

.dashboard {
  padding: 2rem;
  margin: 1rem;
  background: linear-gradient(rgba(183, 59, 17, 0.4), rgba(225, 72, 7, 0.6)), var(--bg-color);
  min-height: 100vh;
  border-radius: 20px;
  transition: background 0.3s ease, color 0.3s ease;
  color: var(--text-color);
}

.dashboard h1,
.dashboard p {
  display: flex;
  justify-content: center;
  line-height: 1;
  margin-bottom: 20px;
  align-items: center;
  color: var(--text-color);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.statsAndNotifications {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.statsContainer {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.statCard {
  background: linear-gradient(rgba(115, 134, 228, 0.2), rgba(252, 253, 253, 0.2)), var(--bg-color);
  border-left: 5px solid var(--primary-accent);
  border-radius: 15px;
  box-shadow: 0 6px 12px var(--shadow-color);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  color: var(--text-color);
}

.statCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px var(--hover-shadow);
}

.notifications {
  flex: 1;
  background: linear-gradient(rgba(115, 134, 228, 0.2), rgba(248, 248, 249, 0.2)), var(--bg-color);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 6px 12px var(--shadow-color);
  max-height: 60vh;
  overflow-y: auto;
  color: var(--text-color);
}

.graphsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.graphCard {
  background: linear-gradient(rgba(243, 243, 247, 0.2), rgba(71, 125, 250, 0.2)), var(--bg-color);
  border-radius: 15px;
  box-shadow: 0 6px 12px var(--shadow-color);
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  flex: 1;
  min-width: 300px;
  color: var(--text-color);
}

.graphCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px var(--hover-shadow);
}

@media (max-width: 1200px) {
  .statsAndNotifications {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .statsContainer {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
